{% extends 'user_panel_base.html' %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <div class="main-content">
        <div id='calendar'></div>
    </div>
{% endblock content %}

{% block extra_js %}
<script>
    var calendar; // 在全局作用域声明变量

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            customButtons: {
                addEventButton: {
                    text: 'Add Event', // 按钮显示的文本
                    click: function() {
                        window.location.href = '{% url "add_event" %}'; // 跳转到添加事件的URL
                    }
                }
            },
            headerToolbar: {
                left: 'prev,next today addEventButton', // 将addEventButton添加到日历的头部工具栏
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events: '{% url "events" %}',
            eventContent: function(arg) {
                var element = document.createElement('div');
                var title = document.createElement('div');
                title.innerText = arg.event.title;
            
                // 标识事件是公共还是私有
                var eventType = document.createElement('div');
                eventType.innerText = arg.event.extendedProps.is_public ? 'Public' : 'Private';
                eventType.style.fontWeight = 'bold';
                eventType.style.marginBottom = '4px';
                if (arg.event.extendedProps.is_public) {
                    eventType.style.color = 'green';
                } else {
                    eventType.style.color = 'red';
                }
            
                var time = document.createElement('div');
                time.innerText = new Date(arg.event.start).toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) + ' - ' + new Date(arg.event.end).toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});

                var createdBy = document.createElement('div');
                createdBy.innerText = 'Added by: ' + arg.event.extendedProps.created_by;

                var location = document.createElement('div');
                location.innerText = 'Location: ' + arg.event.extendedProps.location;

                // 先添加事件类型标识
                element.appendChild(eventType);
                element.appendChild(title);
                element.appendChild(time);
                element.appendChild(location);
                element.appendChild(createdBy);

                // 仅当事件为公共事件时，才显示参与者
                if (arg.event.extendedProps.is_public) {
                    var participants = document.createElement('div');
                    participants.innerText = 'Participants: ' + arg.event.extendedProps.participants;
                    participants.className = 'participants-list';  // 添加类名
                    element.appendChild(participants);
                }

                if (arg.event.extendedProps.is_deletable) {
                    var deleteButton = document.createElement('button');
                    deleteButton.innerText = 'Delete';
                    deleteButton.onclick = function() {
                        deleteEvent(arg.event.id);
                    };
                    element.appendChild(deleteButton);
                }

                return { domNodes: [element] };
            },

        });
        calendar.render();
    });

    function deleteEvent(eventId) {
        $.ajax({
            type: "POST",
            url: "/delete_event/" + eventId + "/",
            data: {
                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
            },
            success: function(response) {
                if(response.success) {
                    alert("Event deleted successfully!");
                    calendar.refetchEvents();
                }
            },
            error: function(xhr, errmsg, err) {
                alert("Error deleting event. Please try again.");
            },
        });
    }
</script>
{% endblock %}


