<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User Panel</title>
        <link rel="stylesheet" href="{% static 'user_panel.css' %}">
        <style>
            .participants-list, .location-list {
                white-space: normal;
                word-wrap: break-word;
                max-width: 200px;
                overflow-y: auto; /* 超出部分显示滚动条 */
                max-height: 100px; /* 设置一个最大高度 */
            }
        </style>

        <link rel="stylesheet" href="{% static 'main.min.css' %}">

        {% comment %} <link href='https://unpkg.com/fullcalendar@5/main.min.css' rel='stylesheet' />
        <script src='https://unpkg.com/fullcalendar@5/main.min.js'></script> {% endcomment %}

    </head>
<body>
    <div class="sidebar">
        <div class="home-button">
            <a href="{% url 'index' %}">Return to Home</a>
        </div>
        <div class="user-info">
            <form method="post" enctype="multipart/form-data" class="avatar-upload-form">
                {% csrf_token %}
                {% if user.userprofile.avatar %}
                    <img src="{{ user.userprofile.avatar.url }}" alt="User Avatar" class="user-avatar">
                {% else %}
                    <div class="no-avatar">No avatar uploaded. Please upload a picture.</div>
                {% endif %}
                <label for="id_avatar" class="upload-button">Choose</label>
                <input type="file" name="avatar" id="id_avatar">
                <button type="submit" class="replace-button">Upload</button>
            </form>

            <p>Hello, <strong>{{ user.first_name }} {{ user.last_name }}</strong></p>
            <a href="{% url 'password_change' %}" class="action-link">Change Password</a>
            <a href="{% url 'logout' %}" class="action-link">Logout</a>
        </div>
        <a href="{% url 'calendar' %}" class="nav-link">Calendar</a>
        <a href="{% url 'todolist' %}" class="nav-link">ToDoList</a>
        <a href="{% url 'show_groups' %}" class="nav-link">Duty Information</a>
        <a href="#" class="nav-link">Notifications</a>
    </div>
    <div class="main-content">
        <div id='calendar'></div>
    </div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/main.min.js' %}"></script>

<script>
    var calendar; // 在全局作用域声明变量

    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            customButtons: {
                addEventButton: {
                    text: 'Add Event', // 按钮显示的文本
                    click: function() {
                        window.location.href = '{% url "add_event" %}'; // 跳转到添加事件的URL
                    }
                }
            },
            headerToolbar: {
                left: 'prev,next today addEventButton', // 将addEventButton添加到日历的头部工具栏
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events: '{% url "events" %}',
            eventContent: function(arg) {
                var element = document.createElement('div');
                if (arg.event.extendedProps.is_completed) { 
                    element.style.textDecoration = "line-through";
                }
                var title = document.createElement('div');
                title.innerText = arg.event.title;

                // 标识事件是公共还是私有
                var eventType = document.createElement('div');
                eventType.innerText = arg.event.extendedProps.is_public ? 'Public' : 'Private';
                eventType.style.fontWeight = 'bold';
                eventType.style.marginBottom = '4px';
                if (arg.event.extendedProps.is_public) {
                    eventType.style.color = 'green';
                } else {
                    eventType.style.color = 'red';
                }

                var time = document.createElement('div');
                time.innerText = new Date(arg.event.start).toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) + ' - ' + new Date(arg.event.end).toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'});

                var createdBy = document.createElement('div');
                createdBy.innerText = 'Added by: ' + arg.event.extendedProps.created_by;

                var location = document.createElement('div');
                location.innerText = 'Location: ' + arg.event.extendedProps.location;
                location.className = 'location-list';  // 添加类名

                var completeButton = document.createElement('button');
                completeButton.innerText = 'Complete';

                if (arg.event.extendedProps.is_completed) {
                    completeButton.innerText = 'Revoke';
                }
                completeButton.setAttribute('data-id', arg.event.id); // 使用事件ID作为数据属性
                completeButton.onclick = function() {
                    markEventComplete(arg.event.id);
                };
                // 先添加事件类型标识
                element.appendChild(eventType);
                element.appendChild(title);
                element.appendChild(time);
                element.appendChild(location);
                element.appendChild(createdBy);



                // 仅当事件为公共事件时，才显示参与者
                if (arg.event.extendedProps.is_public) {
                    var participants = document.createElement('div');
                    participants.innerText = 'Participants: ' + arg.event.extendedProps.participants;
                    participants.className = 'participants-list';  // 添加类名
                    element.appendChild(participants);
                }
                element.appendChild(completeButton);
                if (arg.event.extendedProps.is_deletable) {
                    var deleteButton = document.createElement('button');
                    deleteButton.innerText = 'Delete';
                    deleteButton.onclick = function() {
                        deleteEvent(arg.event.id);
                    };
                    element.appendChild(deleteButton);
                }

                return { domNodes: [element] };
            },

        });
        calendar.render();
    });

    function deleteEvent(eventId) {
        $.ajax({
            type: "POST",
            url: "/delete_event/" + eventId + "/",
            data: {
                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
            },
            success: function(response) {
                if(response.success) {
                    {% comment %} alert("Event deleted successfully!"); {% endcomment %}
                    calendar.refetchEvents();
                }
            },
            error: function(xhr, errmsg, err) {
                alert("Error deleting event. Please try again.");
            },
        });
    }
    function markEventComplete(eventId) {
        $.ajax({
            type: "POST",
            url: "/event/" + eventId + "/status/",
            data: {
                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
            },
            success: function(response) {
                if (response.success) {
                    {% comment %} alert("Event status updated!"); {% endcomment %}
                    calendar.refetchEvents(); // 重新获取事件数据，以反映更新的完成状态
                }
            },
            error: function(xhr, errmsg, err) {
                alert("Error updating event status. Please try again.");
            },
        });
    }
</script>

</body>
</html>


