/* 页面内容样式 */
body,html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f0f0f0; */
    background-color:white;
    scroll-behavior: smooth;
}

.header-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px;
    font-weight: bold;
    white-space: nowrap; /* 添加这一行 */
}

.header-image {
    background-image: url('/static/homepage/images/home.webp');
    height: 1000px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* 这里是关键 */
    opacity:0.9;
    z-index: 1;
}

.profile-container {
    display: flex; /* 使用Flexbox布局 */
    align-items: flex-start; /* 确保子项在顶部对齐 */
    justify-content: center; /* 在主轴方向上居中对齐 */
    text-align: left; /* 确保文本左对齐 */
    max-width: 1200px; /* 或根据需要调整 */
    margin: auto; /* 居中整个容器 */
    margin-top: 100px;
    /* margin-bottom: 100px; */
    font-size: 20px;
}

.photo-container img {
width: 350px;
height: auto; /* 保持图片比例 */

}

.bio-container {
padding-left: 200px; /* 与照片之间的间隙 */

}

.experience-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    margin-bottom: 100px;
    margin-top: 10px;
}

.experience-container h2 {
    color: #333;
    font-size: 24px;
    margin-top: 30px;
}

.experience-container ul {
    list-style-type: none; /* Removes default list styling */
    padding: 0;
}

.experience-container ul li {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 1.6;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 100rem;
    left: 50%;
    transform: translateX(-50%);
}