<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lan Group Homepage</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block extra_css %}
    {% endblock %}

</head>
<body>

    <div class="navbar">
        <a class="logo" href="{% url 'index' %}">Lan Group</a>
        <div class="dropdown">
            <button class="dropbtn">Members</button>
            <div class="dropdown-content">
                <a href="{% url 'lan_view' %}">Zhenggang Lan</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Research</button>
            <div class="dropdown-content">
                <a href="{% url 'database' %}">QCGED</a>
            </div>
        </div>
        <a href="{% url 'publication' %}">Publications</a>
        <a href="#teaching">Teaching</a>
        <a href="{% url 'contact' %}">Contact us</a>

        {% if user.is_authenticated %}
            <a href="https://yifei-zhu.github.io/LanGroupWiki/">LanGroupWiki</a>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="#" onclick="alert('Please log in to access this page.'); return false;">LanGroupWiki</a>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>

<!-- Content block where child templates can insert their unique content -->
{% block content %}
{% endblock content %}

<!-- 你的页脚内容 -->
<div class="footer">
    <p>Lan Group © 2024. All Rights Reserved.</p>
</div>


{% block extra_js %}
{% endblock %}

</body>
</html>
